%/--------------------------------------------------------------------
%| Copyright 2017 Erisata, UAB (Ltd.)
%|
%| Licensed under the Apache License, Version 2.0 (the "License");
%| you may not use this file except in compliance with the License.
%| You may obtain a copy of the License at
%|
%|     http://www.apache.org/licenses/LICENSE-2.0
%|
%| Unless required by applicable law or agreed to in writing, software
%| distributed under the License is distributed on an "AS IS" BASIS,
%| WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%| See the License for the specific language governing permissions and
%| limitations under the License.
%\--------------------------------------------------------------------

[
    {exometer_graphite, [
        {host, "localhost"},
        {port, 2004},
        {connection_timeout, 5000},
        {graphite_delay, 3000},
        {subscription_delay, 1200000}, %% HAS TO BE GREATER THAN SUBSCRIPTION INTERVAL
        {subscriptions, [
%%            TODO: implement datapoint subscription
            {select, {
                [{ {[testHis, lager], '_', '_'}, [], ['$_']}],
                mean, 10000}}
%%            {select, {
%%                [{ {[eproc_core, store, '_'], '_', '_'}, [], ['$_']}],
%%                one, 10000}}
%%            {select, {[{ {[eproc_core, something, '_'], '_', '_'}, [], ['$_']}],
%%                one, 3000}}
%%            [{ {[eproc_core, store, '_'],'_','_'}, [], ['$_']}],
%%            [{ {[eproc_core, something, '_'],'_','_'}, [], ['$_']}],
%%            [{ {[eproc_core, store, attachment_save],'_','_'}, [], ['$_']}],
%%            [{ {[testGauge],'_','_'}, [], ['$_']}]
        ]}
    ]},
    {exometer_core, [
%%        {predefined, [
%%            {[testGauge], gauge, []}
%%            {[a,first], counter, []}
%%            {[a,second], counter, []},
%%            {[b,first], counter, []},
%%            {[c,first], counter, []}
%%        ]},
        {report, [
            {reporters, [
                {exometer_graphite_reporter, []}
            ]},
            {subscribers, [

%%                {select, {[{ {[testGauge],'_','_'}, [], ['$_']}],
%%                    exometer_graphite_reporter, value, 1000, true}},
%%                {select, {[
%%                        {
%%                            {[a,'_'],'_','_'},
%%                            [],
%%                            ['$_']
%%                        }
%%                    ],
%%                    exometer_graphite_reporter, value, 1000, true}},
%%                {select, {[{ {[eproc_core, store, '_'], '_', '_'}, [], ['$_']}],
%%                    exometer_graphite_reporter, one, 3000, true}},
%%                {exometer_graphite_reporter, [testGauge], value, 3000, true}
            ]}
        ]}
    ]}
].
