%/--------------------------------------------------------------------
%| Copyright 2017 Erisata, UAB (Ltd.)
%|
%| Licensed under the Apache License, Version 2.0 (the "License");
%| you may not use this file except in compliance with the License.
%| You may obtain a copy of the License at
%|
%|     http://www.apache.org/licenses/LICENSE-2.0
%|
%| Unless required by applicable law or agreed to in writing, software
%| distributed under the License is distributed on an "AS IS" BASIS,
%| WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%| See the License for the specific language governing permissions and
%| limitations under the License.
%\--------------------------------------------------------------------

[
    {exometer_graphite, [
        {host, "localhost"},
        {port, 8096},
        {connect_timeout, 5000},
        {send_delay, 3000},
        {retries, 2},
        {resubscription_delay, 1200000},
        {subscriptions, [
            {[ {[axb_core, lager, '_'], '_'},
                { [eproc_core, lager, '_'], '_'}],
                [mean, max, min], 20000},
            {[ {[eproc_core, store, '_'], '_'}],
                all, 10000},
            {[ {[testEL, lager, '_'], '_'}],
                [mean, min, max], 4000},
            {[ {[exometer_lager, lager, '_'], '_'}],
                all, 5000}
        ]}
    ]},
    {exometer_core, [
        {report, [
            {reporters, [
                {exometer_graphite_reporter, []}
            ]}
        ]}
    ]}
].
