[
    {exometer_graphite, [
        {host, "localhost"},
        {port, 2004},
        {connection_timeout, 5000},
        {send_to_graphite_interval, 5000}
    ]},
    {exometer_core, [
        {report, [
            {reporters, [
                {exometer_graphite_reporter, []}
            ]},
            {subscribers, [
                {exometer_graphite_reporter, [testZ, cpuUsage], value, 3000, true},
                {exometer_graphite_reporter, [testZ, memUsage], value, 5000, true}
            ]}
        ]}
    ]}
].
