{erl_opts, [debug_info]}.
{deps, [
    {lager,         ".*", {git, "https://github.com/basho/lager.git",             {tag, "3.2.1"}}},
    {exometer_core, ".*", {git, "https://github.com/Feuerlabs/exometer_core.git", {tag, "1.4"}}},
    {pickle,        ".*", {git, "https://github.com/habibutsu/pickle.git",         {tag, "9a52dcd91a816713ee21a9a96e8d3e986678aa44"}}},
    {edown,         ".*", {git, "https://github.com/uwiger/edown.git",            {tag, "0.8.1"}}}
]}.
{edoc_opts, [
    {application, ["exometer_graphite"]},
    {doclet, edown_doclet},
    {subpackages, false},
    {top_level_readme, {"./README.md", "http://github.com/erisata/exometer_graphite"}}
]}.

